
 <!-- <div class="bar bar-header bar-dark">
    <h1 class="title">微小宝</h1>
  </div>
  -->

 <ion-nav-bar class="bar-dark">
   <ion-nav-back-button>返回
   </ion-nav-back-button>
 </ion-nav-bar>
 <ion-nav-view name="mainContent">
   <ion-view>
     <ion-nav-title>
       微小宝
     </ion-nav-title>
     <ion-content>

     </ion-content>
   </ion-view>
 </ion-nav-view>

 <div class="bar bar-footer bar-light">
   <div class="button-bar">
     <a class="button button-clear icon ion-home" href="#/home/default">首页</a>
     <a class="button button-clear icon ion-social-yen" href="#/home/receipt">收款</a>
     <a class="button button-clear icon ion-ios-pricetag" href="#/home/verify">验证</a>
     <a class="button button-clear icon ion-ios-pulse-strong" href="#/home/flow">流水</a>
   </div>
 </div>


