
<icon-view>
  <ion-content>
    <div class="list">
      <div class="row">
        <div class="item item-image">
          <img src="img/home.png"/>
        </div>
      </div>
      <div class="row">

        <div class="col-50">
          <a class="item item-icon-left assertive" href="#/home/receipt">
            <i class="icon ion-social-yen"></i>
            收款
          </a>
        </div>
        <div class="col-50">
          <a class="item item-icon-left assertive" href="#/home/verify">
            <i class="icon ion-ios-pricetag"></i>
            验证
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-50">
          <a class="item item-icon-left assertive" href="#/home/flow">
            <i class="icon ion-ios-pulse-strong"></i>
            流水
          </a>
        </div>
        <div class="col-50">
          <a class="item item-icon-left assertive" href="#/home/myShop">
            <i class="icon ion-home"></i>
            我的店铺
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</icon-view>
